<!DOCTYPE html>




<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/cricket.css">
 <link rel="stylesheet" href="css/bootstrap.min.css" />
<head>

 <script type="text/javascript" src="js/graph.js"></script>
 <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Badmintion</title>
</head>
<body>
    
<header>
    <div class="container-fluid top-nav">
        <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="google_translate_element"  ></div>
            </div>
            <div class="col-sm-4"><p style="margin-top: 10px;text-align: center;color: white"><i class="fa fa-phone "></i> 1800-200-2244 | <i class="fa fa-envelope "></i>  info@govt.com</p></div>
            <div class="col-sm-4">
                <ul class="login-icon">
                    <li style="border-right: 2px solid white"><a href="" ><span class="fa fa-sign-in">&nbspLogin</span></a></li>
                    <li><a href="" ><span class="fa fa-edit">&nbspRegister</span></a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="container-fluid " id="marquee_div">
        <marquee><p>New job Vacancies are coming please look forword and seetthe bar</p></marquee>
        


    </div>
    <div class="container" >
        <div class="row">
            
             <div class="col-sm-6">
                <a href="index.html"><img src="images/logo.png" width="55" height="90" align="left" style="margin: 10px">
                <h4 style="margin-top: 15px">National E-sports Portal</h1>
                <p >
                    Ministry of Youth Affairs & Sports<br>
                        Government of India
                </p>
                </a>
            </div>
            <div class="col-sm-6">
                <img src="images/khelo.png" width="200" height="100" align="right">
                <img src="images/digital.png" width="200" height="100" align="right">
            </div>

            
        </div>
    </div>

    <nav>
        <div class="container-fluid main_navbar" id="nav">
            

                <ul class="main-icons">
                    <li class="active"><a href="index.html">Selection Process</a></li>
                    <li><a href="#">Sportswise Category</a></li>
                    <li><a href="#">Injuries Remedies</a></li>
                    <li><a href="#">Player Portfolio</a></li>
                    <li><a href="onlinecoaching.html">Online Coaching</a></li>
                    <li><a href="#">Academy Data</a></li>
                </ul>
            
            
        </div>


    </nav>
</header>
<div style="height: 30px;"></div>


<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-sm-6">
    <div class="card">
      <iframe height="220" src="https://www.youtube.com/embed/rrjCTSOU5Z8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>Rules of Badmintion </h4>
      <p> Ensure your body is properly prepared for the badminton game ahead. As badminton involves both stamina and agility you need to concentrate on these areas in your warm-up. Ideally you could start with a gentle jog around the court or some skipping.</p>
    </div></div>
    
  <div class="col-sm-6">
    <div class="card">
      <iframe  height="220" src="https://www.youtube.com/embed/SF8G--iZN4U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>Badmintion Begineer</h4>
      <p>Just because you are a beginner, it does not mean you can’t incorporate some strategies into your game. So much of badminton is psychological. When starting out with minimal skill, try to understand your opponents psychology and use their weakness to your advantage.</p>
    </div>
    
  </div>
  </div>
</div>

<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-sm-6">
    <div class="card">
      <iframe height="220" src="https://www.youtube.com/embed/8QlW8_PdYbw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>Badminton Technique</h4>
      <p>When choosing a racket, the grip is crucial. Small grips are best for small hands and large grips for large hands. When holding the racket, don’t grasp it tightly, have a relaxed grip. Having a flexible wrist will help you to perfect both your forehand and backhand shots.</p>
    </div></div>
    
  <div class="col-sm-6">
    <div class="card">
      <iframe height="220" src="https://www.youtube.com/embed/O4X0LL7t2ys" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
        <h4>Perfect Badminton Low Serve Every Time</h4>
      <p> As badminton is a fast-paced, unpredictable game you must be prepared to move in any direction at any given time. So it is important to know your body’s limits. You don’t want to reach for that all important shot only to find yourself on the floor with a painful injury.</p>
    </div>
    
  </div>
  </div>
</div>



<div style="height: 30px;"></div>

</body>
<script type="text/javascript">
     var nav = document.getElementById('nav');

       window.onscroll = function () {

         if(window.pageYOffset > 100){

          nav.style.position = "fixed";
          nav.style.top = 0;

          }else{
            // nav.style.position = "absolute";
            nav.style.position = 'relative'; //fixed
            nav.style.top = 100;
          }
       }


</script>
</html>