<!DOCTYPE html>




<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/cricket.css">
 <link rel="stylesheet" href="css/bootstrap.min.css" />
<head>

 <script type="text/javascript" src="js/graph.js"></script>
 <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Basketball</title>
</head>
<body>
    
<header>
    <div class="container-fluid top-nav">
        <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="google_translate_element"  ></div>
            </div>
            <div class="col-sm-4"><p style="margin-top: 10px;text-align: center;color: white"><i class="fa fa-phone "></i> 1800-200-2244 | <i class="fa fa-envelope "></i>  info@govt.com</p></div>
            <div class="col-sm-4">
                <ul class="login-icon">
                    <li style="border-right: 2px solid white"><a href="" ><span class="fa fa-sign-in">&nbspLogin</span></a></li>
                    <li><a href="" ><span class="fa fa-edit">&nbspRegister</span></a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="container-fluid " id="marquee_div">
        <marquee><p>New job Vacancies are coming please look forword and seetthe bar</p></marquee>
        


    </div>
    <div class="container" >
        <div class="row">
            
             <div class="col-sm-6">
                <a href="index.html"><img src="images/logo.png" width="55" height="90" align="left" style="margin: 10px">
                <h4 style="margin-top: 15px">National E-sports Portal</h1>
                <p >
                    Ministry of Youth Affairs & Sports<br>
                        Government of India
                </p>
                </a>
            </div>
            <div class="col-sm-6">
                <img src="images/khelo.png" width="200" height="100" align="right">
                <img src="images/digital.png" width="200" height="100" align="right">
            </div>

            
        </div>
    </div>

    <nav>
        <div class="container-fluid main_navbar" id="nav">
            

                <ul class="main-icons">
                    <li class="active"><a href="index.html">Selection Process</a></li>
                    <li><a href="#">Sportswise Category</a></li>
                    <li><a href="#">Injuries Remedies</a></li>
                    <li><a href="#">Player Portfolio</a></li>
                    <li><a href="onlinecoaching.html">Online Coaching</a></li>
                    <li><a href="#">Academy Data</a></li>
                </ul>
            
            
        </div>


    </nav>
</header>
<div style="height: 30px;"></div>


<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-sm-6">
    <div class="card">
      <iframe height="220" src="https://www.youtube.com/embed/bMu518LyS1Q?start=99" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>6 Tips to Dribble A Basketball Better </h4>
      <p>It is important to get a good pair of basketball shoes as the wrong sort could lead to an injury. As the sport involves a lot of running and jumping, good support and cushioning is vital. There are high-top shoes that provide more support for ankles when playing. </p>
    </div></div>
    
  <div class="col-sm-6">
    <div class="card">
      <iframe  height="220" src="https://www.youtube.com/embed/nqqw_hYT4QM?start=99" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>How to shoot a basketball</h4>
      <p>Basketball is a physically challenging sport so it’s best to be in as good a condition as possible. The better shape you’re in, the greater your stamina, and the quicker your response time. This will also help avoid injury. </p>
    </div>
    
  </div>
  </div>
</div>

<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-sm-6">
    <div class="card">
      <iframe height="220" src="https://www.youtube.com/embed/wYjp2zoqQrs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>Rules of Basketball!</h4>
      <p>Basketball is a team sport. Two teams of five players each try to score by shooting a ball through a hoop elevated 10 feet above the ground. The game is played on a rectangular floor called the court, and there is a hoop at each end.</p>
    </div></div>
    
  <div class="col-sm-6">
    <div class="card">
      <iframe height="220" src="https://www.youtube.com/embed/JZEVLrA2UMg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>BEST 1 ON 1 BASKETBALL MOVES! </h4>
      <p>  Be sure to practice dribbling with your weak hand until you can handle the ball as effectively with either hand. Always dribble with your head up, not down, so that you can see what is happening around you, and only dribble as fast as you can go while still keeping control of the ball.</p>
    </div>
    
  </div>
  </div>
</div>



<div style="height: 30px;"></div>

</body>
<script type="text/javascript">
     var nav = document.getElementById('nav');

       window.onscroll = function () {

         if(window.pageYOffset > 100){

          nav.style.position = "fixed";
          nav.style.top = 0;

          }else{
            // nav.style.position = "absolute";
            nav.style.position = 'relative'; //fixed
            nav.style.top = 100;
          }
       }


</script>
</html>