<!DOCTYPE html>




<html>

<head>

  <title>Cricket</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" type="text/css" href="../static/css/cricket.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" />

</head>

<body>

  <header>
    <div class="container-fluid top-nav">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div id="google_translate_element"></div>
          </div>
          <div class="col-sm-4">
            <p style="margin-top: 10px;text-align: center;color: white"><i class="fa fa-phone "></i> 1800-200-2244 | <i
                class="fa fa-envelope "></i> info@govt.com</p>
          </div>
          <div class="col-sm-4">
            <ul class="login-icon">
              <li style="border-right: 2px solid white"><a href=""><span class="fa fa-sign-in">&nbspLogin</span></a></li>
              <li><a href=""><span class="fa fa-edit">&nbspRegister</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid " id="marquee_div">
      <marquee>
        <p>New job Vacancies are coming please look forword and seetthe bar</p>
      </marquee>



    </div>
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <a href="index.html"><img src="static/images/logo.png" width="55" height="90" align="left" style="margin: 10px">
            <h4 style="margin-top: 15px">National E-sports Portal</h1>
              <p>
                Ministry of Youth Affairs & Sports<br>
                Government of India
              </p>
          </a>
        </div>
        <div class="col-sm-6">
          <img src="static/images/khelo.png" width="200" height="100" align="right">
          <img src="static/images/digital.png" width="200" height="100" align="right">
        </div>


      </div>
    </div>

    <nav>
      <div class="container-fluid main_navbar" id="nav">


          <ul class="main-icons">
              <li class="active"><a href="{{ url_for('logout') }}">Back</a></li>
            </ul>

      </div>


    </nav>
  </header>
  <div style="height: 30px;"></div>


  <div class="container">
    <div class="row" style="margin-top: 30px">
      <div class="col-sm-6">
        <div class="card">
          <iframe height="220;" src="https://www.youtube.com/embed/8oOj2x4_OMs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <h4>Batting for Beginners - Cricket Batting Tips</h4>
          <p>The object of your attention is the ball, watch the cricket ball as if you have put a laser beam on it …
            don’t look for the ball … watch it and remind yourself to watch it.</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <iframe height="220" src="https://www.youtube.com/embed/6_FIpnHKYSk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <h4>Improve Batting Skills</h4>
          <p>Set your head slightly forward in your stance and set your Positive Intent to score. Head forward and
            still. Batting is about Intent, the goal is to score runs off each ball.</p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-top: 30px">
      <div class="col-sm-6">
        <div class="card">
          <iframe height="220" src="https://www.youtube.com/embed/1umybq-uBCs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <h4>Hitting Sixes in Cricket Tips - Power Hitting</h4>
          <p>Hitting the ball down the ground is almost like playing against spinners so you will need to generate some
            pace of your own and for fasters you have to time the ball properly.</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <iframe height="220" src="https://www.youtube.com/embed/VHTzqkFuIjs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <h4>Learn How To Bowl - Cricket Bowling Drills</h4>
          <p> Experiment with the speed, length, and angle of your approach. Many fast bowlers favor a long run up that
            gives them plenty of room to build momentum before they hit the crease.</p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-top: 30px">
      <div class="col-sm-6">
        <div class="card">
          <iframe height="220" src="https://www.youtube.com/embed/0VVNybUx7DE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <h4>Cricket Practice: Fast bowling</h4>
          <p>Use your wrist to generate momentum. At the moment of release, snap your wrist and follow through with
            your entire arm until it comes to a stop just above waist height. Giving the ball a little push as it
            leaves your hand will allow you to channel your full power into the bowl, adding considerably to your
            overall speed.</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <iframe height="220" src="https://www.youtube.com/embed/oq-CiKyTsBg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <h4>Tips to Grip The Ball To Bowl In-Swing</h4>
          <p>Take a grip that's more effective for fast bowling. Place your fore and middle fingers parallel to the
            vertical seam running down the center of the ball. Then, wrap your thumb around the bottom so that it rests
            directly on the seam. The ball should fit snugly in your hand, with no wiggling or slipping</p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-top: 30px">
      <div class="col-sm-6">
        <div class="card">
          <iframe height="220" src="https://www.youtube.com/embed/4DjueKrm3KU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <h4>Correct Fielding Technique - The Long Barrier</h4>
          <p>Positive Intent is the energy behind your fielding – want the ball, all the time. Desire the opportunity
            to make the match winning catch, the run out to change the game, to save 8 runs per innings. Set this as a
            goal each ball, it gets you into good positions to field the ball.</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <iframe height="220" src="https://www.youtube.com/embed/heBISGl2cIw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <h4>Field Positions at different position</h4>
          <p>Fielding is the action of fielders in collecting the ball after it is struck by the batsman, to limit the
            number of runs that the batsman scores or to get the batsman out by catching the ball in flight or by
            running the batsman out. There are a number of recognised fielding positions.</p>
        </div>

      </div>
    </div>
  </div>


  <div style="height: 30px;"></div>

</body>
<script type="text/javascript">
  var nav = document.getElementById('nav');

  window.onscroll = function () {

    if (window.pageYOffset > 100) {

      nav.style.position = "fixed";
      nav.style.top = 0;

    } else {
      // nav.style.position = "absolute";
      nav.style.position = 'relative'; //fixed
      nav.style.top = 100;
    }
  }


</script>

</html>