<!DOCTYPE html>




<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/cricket.css">
 <link rel="stylesheet" href="css/bootstrap.min.css" />
<head>

 <script type="text/javascript" src="js/graph.js"></script>
 <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Football</title>
</head>
<body>
    
<header>
    <div class="container-fluid top-nav">
        <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="google_translate_element"  ></div>
            </div>
            <div class="col-sm-4"><p style="margin-top: 10px;text-align: center;color: white"><i class="fa fa-phone "></i> 1800-200-2244 | <i class="fa fa-envelope "></i>  info@govt.com</p></div>
            <div class="col-sm-4">
                <ul class="login-icon">
                    <li style="border-right: 2px solid white"><a href="" ><span class="fa fa-sign-in">&nbspLogin</span></a></li>
                    <li><a href="" ><span class="fa fa-edit">&nbspRegister</span></a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="container-fluid " id="marquee_div">
        <marquee><p>New job Vacancies are coming please look forword and seetthe bar</p></marquee>
        


    </div>
    <div class="container" >
        <div class="row">
            
             <div class="col-sm-6">
                <a href="index.html"><img src="images/logo.png" width="55" height="90" align="left" style="margin: 10px">
                <h4 style="margin-top: 15px">National E-sports Portal</h1>
                <p >
                    Ministry of Youth Affairs & Sports<br>
                        Government of India
                </p>
                </a>
            </div>
            <div class="col-sm-6">
                <img src="images/khelo.png" width="200" height="100" align="right">
                <img src="images/digital.png" width="200" height="100" align="right">
            </div>

            
        </div>
    </div>

    <nav>
        <div class="container-fluid main_navbar" id="nav">
            

                <ul class="main-icons">
                    <li class="active"><a href="selection.html">Selection Process</a></li>
                    <li><a href="sportwise.html">Sportswise Category</a></li>
                    <li><a href="#">Injuries Remedies</a></li>
                    <li><a href="#">Player Portfolio</a></li>
                    <li><a href="onlinecoaching.html">Online Coaching</a></li>
                    <li><a href="#">Academy Data</a></li>
                </ul>
            
            
        </div>


    </nav>
</header>
<div style="height: 30px;"></div>


<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-sm-6">
    <div class="card">
      <iframe height="220" src="https://www.youtube.com/embed/xefrW_gL7dw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>Learn Football & Futsal Ground Moves </h4>
      <p>The best way to improve your skills is to practice. You will also show your coach that you are devoted and responsible, committed to your team. In your spare time you can find a partner and practice the basic skills: catching, blocking, passing, covering, form tackling and the rest.</p>
    </div></div>
    
  <div class="col-sm-6">
    <div class="card">
      <iframe height="220" src="https://www.youtube.com/embed/JlqzSTigJ4Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>5 Effective skills for Beigneers</h4>
      <p>Before you start playing a game, learn the rules & also the specific aspects of it. What should you do with a ball when you pick it up? What can your opponent do? The better you know the rules of the game, the more chances you have to win.</p>
    </div>
    
  </div>
  </div>
</div>

<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-sm-6">
    <div class="card">
      <iframe height="220" src="https://www.youtube.com/embed/JQYBM0p-j6I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>How to shoot a knuckleball</h4>
      <p>Knuckle free kick is one of the most advanced and difficult shooting techniques in football and you will learn how to shoot knuckle free kicks like Cristiano Ronaldo in real life football matches. This step by step knuckleball free kick tutorial will help you with your shooting technique while also giving you lots of great tips on how to shoot a knuckleball free kick better than any of your teammates.</p>
    </div></div>
    
  <div class="col-sm-6">
    <div class="card">
      <iframe height="220" src="https://www.youtube.com/embed/_5sCeWY7Vlg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>TOP 5 MESSI FOOTBALL SKILLS</h4>
      <p>  The best football player in the world is not necessarily known for his incredible step overs or flashy football skills but instead uses his great agility, speed and ball control and clever football body feints to go past his opponents. Shooting a knuckleball is an amazing football skill to master if you want to score amazing free kicks in real life football games.</p>
    </div>
    
  </div>
  </div>
</div>



<div style="height: 30px;"></div>

</body>
<script type="text/javascript">
     var nav = document.getElementById('nav');

       window.onscroll = function () {

         if(window.pageYOffset > 100){

          nav.style.position = "fixed";
          nav.style.top = 0;

          }else{
            // nav.style.position = "absolute";
            nav.style.position = 'relative'; //fixed
            nav.style.top = 100;
          }
       }


</script>
</html>