<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/sportstyle.css">
 <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body>
	<div class="container" style="border:1px solid black">
		
		<div class="row">
			<div class="col-sm-4" style="border:1px solid black">sdfsdfsdfs</div>
			<div class="col-sm-6" style="border:1px solid black"></div>
		</div>
	</div>
