<!DOCTYPE html>
<html>

<head>
<title>Player Portfolio</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
 <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../static/css/training.css">
<link rel="stylesheet" type="text/css" href="../static/css/selection.css">
</head>
<body>
  
<header>
  <div class="container-fluid top-nav">
    <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="google_translate_element"  ></div>
      </div>
      <div class="col-sm-4"><p style="margin-top: 10px;text-align: center;color: white"><i class="fa fa-phone "></i> 1800-200-2244 | <i class="fa fa-envelope "></i>  info@govt.com</p></div>
      <div class="col-sm-4">
        <ul class="login-icon">
          <li style="border-right: 2px solid white"><a href="" ><span class="fa fa-sign-in">&nbspLogin</span></a></li>
                    <li><a href="" ><span class="fa fa-edit">&nbspRegister</span></a></li>
        </ul>
      </div>
    </div>
    </div>
  </div>

  <div class="container-fluid " id="marquee_div">
    <marquee><p>New job Vacancies are coming please look forword and seetthe bar</p></marquee>
    


  </div>
  <div class="container" >
    <div class="row">
      
      <div class="col-sm-6">
                <a href="index.html"><img src="static/images/logo.png" width="55" height="90" align="left" style="margin: 10px">
                <h4 style="margin-top: 15px">National E-sports Portal</h1>
                <p >
                    Ministry of Youth Affairs & Sports<br>
                        Government of India
                </p>
                </a>
            </div>
      <div class="col-sm-6">
        <img src="static/images/khelo.png" width="200" height="100" align="right">
        <img src="static/images/digital.png" width="200" height="100" align="right">
      </div>

      
    </div>
  </div>

  <nav>
    <div class="container-fluid main_navbar" id="nav">
    
        <ul class="main-icons">
            <li class="active"><a href="{{ url_for('logout') }}">Back</a></li>
            </ul>

    </div>
  </nav>
</header>
<div style="height: 30px;"></div>
<div class="sidenav" style="margin-top: 50px;">
  <a href="#Cricket">Cricket</a>
  <a href="#Football">Football</a>
  <a href="#Basketball">Basketball</a>
  <a href="#Wrestling">Wrestling</a>
  <a href="#Hockey">Hockey</a>
</div>





<div class="main">
  <div class="container" id="Cricket" ><br>
  <div class="row ">
    <div class="column">
                <div class="card">
                    <img src="static/images/ddhoni.jpg" >
                  <h3><b><center>MS DHONI</b></h3>
                  <p><b>Born: </b>July 7, 1981 (age 37 years)
                  <br><b>Height: </b> 5′ 9″<br>
                  <b>Role: </b> Batsman<br>
                  <b>Sports:</b>     Cricket<br>
                  <b>HS:</b>    183(ODI)<br>
                  <b>Match:</b>    339(ODI)<br>
                  <b>SR:</b>    87.699(ODI)</p>
                </div>
                </div>
     <div class="column">
                <div class="card" >
                    <img src="static/images/kohli.jpg" >
                  <h3><b><center>VIRAT KOHLI</b></h3>
                  <p><b>Born: </b>Nov 05, 1988 (30 years)
                  <br><b>Height: </b> 5' 9''<br>
                  <b>Role: </b> Batsman<br>
                  <b>Sports:</b>     Cricket<br>
                  <b>HS:</b>    183(ODI)<br>
                  <b>Match:</b>    223(ODI)<br>
                  <b>SR:</b>    92.59(ODI)</p>
                </div>
                </div>
      <div class="column">
                <div class="card">
                    <img src="static/images/AB.jpg" >
                  <h3><b><center>AB DE VILLIERS</b></h3>
                  <p><b>Born: </b>Feb 17, 1984 (35 years)
                  <br><b>Height: </b> 5' 10''<br>
                  <b>Role: </b> Batsman<br>
                  <b>Sports:</b>     Cricket<br>
                  <b>HS:</b>    176(ODI)<br>
                  <b>Match:</b>    218(ODI)<br>
                  <b>SR:</b>    101.1(ODI)</p>
                </div>
                </div>
      <div class="column">
                <div class="card">
                    <img src="static/images/kallis.jpg" >
                  <h3><b><center>JACQUES KALLIS</b></h3>
                  <p><b>Born: </b>Oct 16, 1975 (43 years)
                  <br><b>Height: </b> 5' 11''<br>
                  <b>Role: </b> All Rounder<br>
                  <b>Sports:</b>     Cricket<br>
                  <b>HS:</b>    139(ODI)<br>
                  <b>Match:</b>    328(ODI)<br>
                  <b>SR:</b>    72.8(ODI)</p>
                </div>
                </div>

   
              </div><br>
    <div class="row ">
    <div class="column">
                <div class="card">
                    <img src="static/images/adam.jpg">
                  <h3><b><center>Adam Gilchrist</b></h3>
                  <p><b>Born: </b>Nov 14, 1971 (47 years)
                  <br><b>Height: </b> 5′ 9″<br>
                  <b>Role: </b> Batsman<br>
                  <b>Sports:</b>     Cricket<br>
                  <b>HS:</b>    172(ODI)<br>
                  <b>Match:</b>    309(ODI)<br>
                  <b>SR:</b>    82.98(ODI)</p>
                </div>
                </div>
     <div class="column">
                <div class="card" >
                    <img src="static/images/ricky.jpg">
                  <h3><b><center>Ricky Ponting</b></h3>
                  <p><b>Born: </b>Dec 19, 1974 (44 years)
                  <br><b>Height: </b> 5' 9''<br>
                  <b>Role: </b> Batsman<br>
                  <b>Sports:</b>     Cricket<br>
                  <b>HS:</b>    167(ODI)<br>
                  <b>Match:</b>    375(ODI)<br>
                  <b>SR:</b>    80.39(ODI)</p>
                </div>
                </div>
      <div class="column">
                <div class="card">
                    <img src="static/images/gayle.jpg">
                  <h3><b><center>Chris Gayle</b></h3>
                  <p><b>Born: </b>Sep 21, 1979 (39 years)
                  <br><b>Height: </b> 5' 10''<br>
                  <b>Role: </b> Batsman<br>
                  <b>Sports:</b>     Cricket<br>
                  <b>HS:</b>    215(ODI)<br>
                  <b>Match:</b>    287(ODI)<br>
                  <b>SR:</b>    86.68(ODI)</p>
                </div>
                </div>
      <div class="column">
                <div class="card" >
                    <img src="static/images/kane.jpg">
                  <h3><b><center>Kane Williamson</b></h3>
                  <p><b>Born: </b>Oct 16, 1975 (43 years)
                  <br><b>Height: </b> 5' 11''<br>
                  <b>Role: </b> All Rounder<br>
                  <b>Sports:</b>     Cricket<br>
                  <b>HS:</b>    139(ODI)<br>
                  <b>Match:</b>    328(ODI)<br>
                  <b>SR:</b>    72.8(ODI)</p>
                </div>
                </div>

   
              </div>
      <div class="container" id="Football" ><br>
     <div class="row ">
    <div class="column">
                <div class="card">
                    <img src="static/images/messi.jpg">
                  <h3><b><center>LIONEL MESSI</b></h3>
                  <p><b>Born: </b>24 June 1987 (age 31)
                  <br><b>Height: </b> 5′ 7″<br>
                  <b>Role: </b> Forward<br>
                  <b>Sports:</b>     Football<br>
                  <b>No:</b>    10<br>
                  <b>Match:</b>    137<br>
                  <b>Country:</b>    Argentine</p>
                </div>
                </div>
     <div class="column">
                <div class="card">
                    <img src="static/images/ronaldo.jpg">
                  <h3><b><center>Cristiano Ronaldo</b></h3>
                  <p><b>Born: </b>5 February 1985 (age 34)
                  <br><b>Height: </b> 5' 9''<br>
                  <b>Role: </b> Forward<br>
                  <b>Sports:</b>     Football<br>
                  <b>No:</b>    7<br>
                  <b>Match:</b>    140<br>
                  <b>Country:</b>    Portugal</p>
                </div>
                </div>
      <div class="column">
                <div class="card">
                    <img src="static/images/neymar.jpg">
                  <h3><b><center>Neymar</b></h3>
                  <p><b>Born: </b>5 February 1992 (age 27)
                  <br><b>Height: </b> 5' 9''<br>
                  <b>Role: </b> Forward<br>
                  <b>Sports:</b>     Football<br>
                  <b>No:</b>    10<br>
                  <b>Match:</b>    123<br>
                  <b>Country:</b>    Brazil</p>
                </div>
                </div>
      <div class="column">
                <div class="card" >
                    <img src="static/images/g.jpg">
                  <h3><b><center>Gianluigi Buffon</b></h3>
                  <p><b>Born: </b>28 January 1978 (age 41)
                  <br><b>Height: </b> 5' 11''<br>
                  <b>Role: </b> Goalkeeper<br>
                  <b>Sports:</b>     Football<br>
                  <b>No:</b>    1<br>
                  <b>Match:</b>    112<br>
                  <b>Country:</b>    Itali</p>
                </div>
                </div>

   
              </div>
      <div class="container" id="Basketball" >
     <div class="row ">
    <div class="column">
                <div class="card">
                    <img src="static/images/michael.jpg">
                  <h3><b><center>Michael Jordan</b></h3>
                  <p><b>Born: </b>February 17, 1963 (age 56)
                  <br><b>Height: </b> 6′ 6″<br>
                  <b>Role: </b> Owner<br>
                  <b>Sports:</b>     Basketball<br>
                  <b>No:</b>    23<br>
                  <b>Match:</b>    97<br>
                  <b>Country:</b>    USA</p>
                </div>
                </div>
     <div class="column">
                <div class="card" >
                    <img src="static/images/le.jpg">
                  <h3><b><center>CLeBron James</b></h3>
                  <p><b>Born: </b>5 February 1985 (age 34)
                  <br><b>Height: </b> 5' 9''<br>
                  <b>Role: </b> Owner<br>
                  <b>Sports:</b>     Football<br>
                  <b>No:</b>    9<br>
                  <b>Match:</b>    40<br>
                  <b>Country:</b>    USA</p>
                </div>
                </div>
      <div class="column">
                <div class="card" >
                    <img src="static/images/wilt.jpg">
                  <h3><b><center>Wilt Chamberlain</b></h3>
                  <p><b>Born: </b>October 12, 1999 (aged 63)
                  <br><b>Height: </b> 6' 4''<br>
                  <b>Role: </b> Center<br>
                  <b>Sports:</b>     Baskettball<br>
                  <b>No:</b>    11<br>
                  <b>Match:</b>    120<br>
                  <b>Country:</b>    Pennsylvania</p>
                </div>
                </div>
      <div class="column">
                <div class="card">
                    <img src="static/images/stephen.jpg">
                  <h3><b><center>Stephen Curry</b></h3>
                  <p><b>Born: </b>March 14, 1988 (age 30)
                  <br><b>Height: </b> 6' 11''<br>
                  <b>Role: </b> Center<br>
                  <b>Sports:</b>     Basketball<br>
                  <b>No:</b>    3<br>
                  <b>Match:</b>    112<br>
                  <b>Country:</b>    American</p>
                </div>
                </div>

   
              </div><br>

</div>

</body>
<script type="text/javascript">
   var nav = document.getElementById('nav');

       window.onscroll = function () {

         if(window.pageYOffset > 100){

          nav.style.position = "fixed";
          nav.style.top = 0;

          }else{
            // nav.style.position = "absolute";
            nav.style.position = 'relative'; //fixed
            nav.style.top = 100;
          }
       }


</script>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>