<!DOCTYPE html>




<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/selection.css">
 <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
<head>

 <script type="text/javascript" src="js/graph.js"></script>
 <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Selection Process</title>
</head>
<body>
    
<header>
    <div class="container-fluid top-nav">
        <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="google_translate_element"  ></div>
            </div>
            <div class="col-sm-4"><p style="margin-top: 10px;text-align: center;color: white"><i class="fa fa-phone "></i> 1800-200-2244 | <i class="fa fa-envelope "></i>  info@govt.com</p></div>
            <div class="col-sm-4">
                <ul class="login-icon">
                    <li style="border-right: 2px solid white"><a href="" ><span class="fa fa-sign-in">&nbspLogin</span></a></li>
                    <li><a href="" ><span class="fa fa-edit">&nbspRegister</span></a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="container-fluid " id="marquee_div">
        <marquee><p>New job Vacancies are coming please look forword and seetthe bar</p></marquee>
        


    </div>
    <div class="container" >
        <div class="row">
            
            <div class="col-sm-6">
                <a href="index.html"><img src="../static/../static/images/logo.png" width="55" height="90" align="left" style="margin: 10px">
                <h4 style="margin-top: 15px">National E-sports Portal</h1>
                <p >
                    Ministry of Youth Affairs & Sports<br>
                        Government of India
                </p>
                </a>
            </div>
            <div class="col-sm-6">
                <img src="../static/images/khelo.png" width="200" height="100" align="right">
                <img src="../static/images/digital.png" width="200" height="100" align="right">
            </div>

            
        </div>
    </div>

    <nav>
        <div class="container-fluid main_navbar" id="nav">
                <ul class="main-icons">
                        <li class="active"><a href="{{ url_for('logout') }}">Back</a></li>
                      </ul>
    </div>


    </nav>
</header>




<div class="sidenav"><br><br>
  <a href="#cricket" id="logo">Cricket</a><br>
  <a href="#Football" id="logo">Football</a><br>
  <a href="#kabaddi" id="logo">Kabaddi</a><br>
  <a href="#hockey" id="logo">Hockey</a><br>
  <a href="#cricket" id="logo">Vollyball</a><br>
  <a href="#cricket" id="logo">Basketball</a><br>
  <a href="#cricket" id="logo">Badmintion</a><br>
 
</div>

<div class="main">
<div class="container"  >
    <div class="row wrapper" id="cricket">
        
         <div class="col-sm-7 column1" ><br><br>
            <h2 id="logo" ><b>Cricket</b></h2><br>
            <h4>Process for Selection in Cricket Team</h4><br>

                <p><b> 1.&nbsp Join Cricket Academy or Local Club </b><br> You get yourself enrolled in a local club or cricket academy where you start learning the tricks of the trade. If the authorities like you as a player, they draft you into their team which plays at various levels and a good performance can elevate you to the next level. </p>

                <p><b> 2.&nbsp Local Tournaments </b> <br>A division consists of various districts. Firstly, selection trials are held at district levels but in most cases, teams are selected on the basis of performance in the local tournament.</p>

                <p><b> 3.&nbsp District Level Tournaments </b> <br> Selectors once again review the performance and if anyone from other districts have performed exceptionally well, they pick him up and draft into the divisional side which takes part in Inter-divisional tournaments. </p>

                <p><b> 4.&nbsp Inter-Divisional Tournaments </b> <br> After Inter-divisional tournaments, the player who perform are picked up by selectors and are called up for a camp. In most states, they are selected through trials also but performance is the major criteria in selection. These selected players train under watchful eyes of state association coaches (mostly International players) and tour to various side tournaments before Ranji Trophy. </p>

                <p><b> 5.&nbsp Senior Divisions or Ranji Trophy </b> <br> If you perform well-enough in above tournaments, your selection chances becomes high and in the end, selectors announce the Ranji Trophy team. </p>

                <p><b> 6.&nbsp Indian Cricket Team </b> <br>If you perform very well. Once you start playing 1st division, it all depends upon you, if you play extraordinarily you can get selected for the state team / IPL teams and follow the same process for getting into the <b>Indian team.</b></p>
            </div>
            
            <div class="col-sm-5">
                <img src="../static/images/ranji.png" style="width: 100%;margin-top: 30px;">
                    <video style="width: 380px;height: 230px;margin-left: 25px;margin-top: 35px;" controls="true">
                      <source src="video/cricket.mp4" type="video/mp4">
                      
                    </video>
                    <video style="width: 380px;height: 230px;margin-left: 25px;margin-top: 50px" controls="true">
                      <source src="video/ranji.mp4" type="video/mp4">
                      
                    </video>
                
                </div>
                

    </div>
    <div class="row wrapper" id="Football">
         <div class="col-sm-7 column1" ><br><br>
            <h2 id="logo" ><b>Football</b></h2><br>
            <h4>Process for Selection in Football Team</h4><br>

                <p><b> 1.&nbsp Join Small Club </b><br>If you are still in school, then you should probably be giving trials for the school team. If you get into your school team and you are playing tournaments, performing well then someone will spot your talent and offer you to play for some small time club.  </p>

                <p><b> 2.&nbsp Local Tournaments </b> <br>A division consists of various districts. Firstly, selection trials are held at district levels but in most cases, teams are selected on the basis of performance in the local tournament.</p>

                <p><b> 3.&nbsp District Level Tournaments </b> <br> Then comes the district level football. You can play the district level tournaments with the club you are in. If you perform well in these tournaments and your team manages to win the tournament, you go to the next round i.e. the state level.  </p>

                <p><b> 4.&nbsp Trial at S.A.I </b> <br> After In India, we have various academies for every district and we have S.A.I (Sports authority of in India) in few cities. They conduct their trials every year. If you get selected to these academies after giving trials, they will make you a professional. You will be playing football every day and play in all the major tournaments. </p>

                <p><b> 5.&nbsp I-league Matches </b> <br> After making your way through these academies by of course, performing well, and you do it consistently then the I-league coaches and scouts are always scouting players. If they spot you and approach you with a contract, you are in the top flight of the Indian football.  </p>

                <p><b> 6.&nbsp National Team </b> <br>By playing well here and by impressing scouts of Indian National Team, you can finally make your way through to the <b>National team.</b></p>
            </div>
            
            <div class="col-sm-5">
                <img src="../static/images/football.png" style="width: 100%;margin-top: 30px;">
                    <video style="width: 380px;height: 230px;margin-left: 25px;margin-top: 35px;" controls="true">
                      <source src="video/football1.mp4" type="video/mp4">
                      
                    </video>
                    <video style="width: 380px;height: 230px;margin-left: 25px;margin-top: 50px" controls="true">
                      <source src="video/football2.mp4" type="video/mp4">
                      
                    </video>
              
                </div>
    </div>
    <div class="row wrapper" id="kabaddi">
         <div class="col-sm-7 column1" ><br><br>
            <h2 id="logo" ><b>Kabaddi</b></h2><br>
            <h4>Process for Selection in Kabaddi Team</h4><br>

                <p><b> 1.&nbsp Join Cricket Academy or Local Club </b><br> Join an amateur training clubs , which are all over India. Trust me this is the best part , no armature club in India has any fee for membership. </p>

                <p><b> 2.&nbsp Physic & Skill </b> <br>Get well trained in terms of physic and skills. Both are equally important.</p>

                <p><b> 3.&nbsp Amateur Player </b> <br> Play a lot of matches. You need every possible experience to be an amateur player. I have to be frank you will get a lot of injuries and skills which can avoid those injuries. </p>

                <p><b> 4.&nbsp District Tournaments </b> <br> When your confident about your game you can attend the selection and impress the selectors you will be a district level player. But the compition is huge. </p>

                <p><b> 5.&nbsp State Tournaments </b> <br> If you perform well-enough in above tournaments, your selection chances becomes high and in the end, selectors announce the State  team. </p>

                <p><b> 6.&nbsp National Team </b> <br>If you perform very well. Once you start playing State Level, it all depends upon you, if you play extraordinarily you can get selected for the <b>National team.</b></p>
            </div>
            
            <div class="col-sm-5">
                <img src="../static/images/kabaddi.png" style="width: 100%;margin-top: 30px;">
                    <video style="width: 380px;height: 230px;margin-left: 25px;margin-top: 35px;" controls="true">
                      <source src="video/kabaddi1.mp4" type="video/mp4">
                      
                    </video>
                    <video style="width: 380px;height: 230px;margin-left: 25px;margin-top: 50px" controls="true">
                      <source src="video/kabaddi2.mp4" type="video/mp4">
                      
                    </video>
               
                </div>

</div>



    <div class="row wrapper" id="hockey">
        <div class="col-sm-7 column1" ><br><br>
            <h2 id="logo" ><b>Hockey</b></h2><br>
            <h4>Selection Procedure of Teams for Tournament Participation</h4><br>

                <p><b> 1.&nbsp </b> Players  in  camps / core    probables   are each    considered  for selection   for national    duty. </p>

                <p><b> 2.&nbsp  </b> The   dates   of  the     meeting     /   trials  are     informed    to Sports   Authority   of  India   and the players in  the camp    /   core    probable    at-least    one week    in  advance along   with    the names   
                of  the Members of  the Selection   Committee.


                <p><b> 3.&nbsp </b>  Selection   Trials / Selection  Meeting     will    access  each    of  the     available   campers     /   core   
                probable    on  the below   criteria    for considering in  the team.<br>
                - Number    of  players eligible    in  the team    for the tournament<br>
                - Number    of  positions   of  players in  the team<br>
                - Balance   in  the different   positions,  defenders,  free    man and markers,    central 
                defenders   and wide    defenders,  attacking   and controlling midfielders,    contact 
                strikers    and goalscoring and “pc-strikers”.<br>
                - Physical  ability of  the players <br>
                - Ability   to  translate   the tactical    plan    of  the team    to  on  field   performance.<br>
                - Players   positive    contribution    in  team    dynamics<br>
                - Players   experience  in  earlier matches and tournaments </p>

                <p><b> 4.&nbsp </b> In    addition    to  players selected    by  the Team,   standby players – in    case    of  injuries    will    also    
                be  selected.
                 </p>

                <p><b> 5.&nbsp </b> The    final   minutes     of  the     Selection Committee     Meeting     during  the     trials /    meeting     is 
                forwarded   to  Sports  Authority   of  India   within  48  hours   via email.  A   copy    of  the Original    
                Minutes of  the Meeting is  also    provided    to  Sports  Authority   of  India. </p>

            
            </div>
            
            <div class="col-sm-5">
                <img src="../static/images/kabaddi.png" style="width: 100%;margin-top: 30px;">
                    <video style="width: 380px;height: 230px;margin-left: 25px;margin-top: 35px;" controls="true">
                      <source src="video/kabaddi1.mp4" type="video/mp4">
                      
                    </video>
                    <video style="width: 380px;height: 230px;margin-left: 25px;margin-top: 50px" controls="true">
                      <source src="video/kabaddi2.mp4" type="video/mp4">
                      
                    </video>
               
                </div>

    </div>
   


</div>

    <!-- FOOTER SECTION -->
    <footer style="background-color: #f5f5f5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4" style="margin-top: 30px">
                        
                        <img src="static/../static/images/logo.png" width="55" height="90" align="left" style="margin: 10px">
                        <h4 style="margin-top: 15px">National E-sports Portal</h1>
                        <p >
                            Ministry of Youth Affairs & Sports<br>
                                Government of India
                        </p>
                        
                    
                    </div>
                    <div class="col-sm-2">
                        <br><br>
                        <h5 align="center" >Right Time To Take a Ride at Sports!</h5>
                        <br><br>
                        <p align="center">Copyright@govt.in</p>
                    </div>
                    <div class="col-sm-3">
                        <ul style="background-" class="vertical-icons">
                            
                            <li class="active"><a href="index.html">Local Tournament</a></li>
                            <li><a class="drop" href="#">Job Vacancies</a></li>
                            <li><a href="#">Latest Investment Field</a></li>
                              <li><a href="#">Alert Messages</a></li>
                              
                              <li><a class="drop" href="#">Query & Feedback</a></li>
                        </ul>
        
                        
                    </div>
                    <div class="">
                        <br><br>
        
                        <p><i class="fa fa-phone " style="color: black;font-size: 20px"></i> 1800-200-2244 | <i class="fa fa-envelope " style="color: black;font-size: 20px"></i>  info@govt.com</p>	
                            
                              <p style="margin-left: 60px"><a href="#"><i class="fa fa-twitter" style="color: black;font-size: 40px"></i></a><i class="fa fa-facebook" style="color: black;font-size: 40px"></i></a><i class="fa fa-google" style="color: black;font-size: 40px"></i></a><a href=""><i class="fa fa-instagram" style="color: black;font-size: 40px"></i></a></p>
                              
                                    
                    </div>
                </div>
            </div>
    </footer>

</body>
<script type="text/javascript">
     var nav = document.getElementById('nav');

       window.onscroll = function () {

         if(window.pageYOffset > 100){

          nav.style.position = "fixed";
          nav.style.top = 0;

          }else{
            // nav.style.position = "absolute";
            nav.style.position = 'relative'; //fixed
            nav.style.top = 100;
          }
       }


</script>
</html>
