<!DOCTYPE html>
<html>
<title>Dashboard_Government</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<body class="w3-light-l0">
  <!-- Navbar -->
  <header style="position:relative">
    <!-- nav section2 marque -->
    <div class="container-fluid " id="marquee_div">
      <marquee>
        <p>New job Vacancies are coming please look forword and seetthe bar</p>
      </marquee>
    </div>
    <!-- nav section3 main navigation -->
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <img src="../static/images/logo.png" width="55" height="90" align="left" style="margin: 10px">
          <h4 style="margin-top: 15px">National E-sports Portal</h1>
            <p>
              Ministry of Youth Affairs & Sports<br>
              Government of India
            </p>

        </div>
        <div class="col-sm-6">
          <img src="../static/images/khelo.png" width="200" height="100" align="right">
          <img src="../static/images/digital.png" width="200" height="100" align="right">
        </div>


      </div>
    </div>

  </header>
  <!-- NAVIGATION BAR -->
  <div style="background-color:orange !important">
    <div class="container w3-bar w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
        href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i
          class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
          <a href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" class="w3-bar-item w3-button">One
            new friend request</a>
          <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
          <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
        </div>
        <!-- notification modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="{{ url_for('send_notification',sender= 'government') }}" method="POST">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                    <select class="form-control" required aria-required="true" id="sel1" name="recepient">
                      <option value="">Choose</option>
                      <option value="student">Student</option>
                      <option value="player">Player</option>
                      <option value="applicant">Applicant</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea class="form-control" name="msg" id="message-text"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="send">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" style="color:white"><strong>Government Dashboard</strong></p>
          <a class="w3-bar-item w3-right" href="{{ url_for('logout') }} " style="color:white"><strong>log out</strong></a>
    </div>
  </div>

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
      <div class="w3-col s4">
        <img src="../static/images/dashbord1.png" class="w3-circle w3-margin-right" style="width:46px">
      </div>
      <div class="w3-col s8 w3-bar">
        <span>Welcome, {{ name }} <strong></strong></span><br>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()"
        title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp; Close Menu</a>
      <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>&nbsp; Overview</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>&nbsp; Views</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>&nbsp; Traffic</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>&nbsp; Geo</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>&nbsp; Orders</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>&nbsp; News</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>&nbsp; General</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>&nbsp; History</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a><br><br>
    </div>
  </nav>


  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu"
    id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
    </header>

    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-quarter">
        <div class="w3-container w3-red w3-padding-16">
          <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>52</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Notification</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-blue w3-padding-16">
          <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>99</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Complaint</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-teal w3-padding-16">
          <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>23</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Analysis</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
          <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>50</h3>
          </div>
          <div class="w3-clear"></div>
          <h4><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              data-whatever="@getbootstrap">Send Notification</button></h4>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Recipient:</label>
                      <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Message:</label>
                      <textarea class="form-control" id="message-text"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Send message</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="w3-container">
      <h5><strong>Applicants</strong></h5>

      {% for x in applicants %}
      <form action="{{ url_for('gov_action',id=x.applicant_id) }}" method="POST">
        <div class="w3-row">

          <div class="w3-col m2 text-center">
            <img class="w3-circle" src="../static/images/dashbord1.png" style="width:96px;height:96px">
          </div>
          
          <div class="w3-col m2 text-center">
              <h4><b>{{ x.name }}&nbsp&nbsp<small>{{ x.dob }}</small></span></h4><br>
            </div>
          <div class="w3-col m5 w3-container">
            <div class="row">
              
<br>
              <p><b> Id</b>: {{x.applicant_id}}&nbsp&nbsp&nbsp Email: {{x.email}},<br>
                Mobile no:{{x.number}},&nbsp&nbsp&nbsp Qualification:{{x.qualification}}<br>
                Occuption:{{x.area}},&nbsp Expierence:{{x.exprience}}
                <br>Achievement:{{x.achivement}}</p>
               </div>
          </div>
          
      
          <div class="w3-col m2 text-center">
              <button name="action" value="accept" type="submit" class="btn btn-info" data-toggle="collapse">Accept</button>
              &nbsp&nbsp
              <button name="action" value="reject" type="submit" class="btn btn-info" data-toggle="collapse">Reject</button>
      
                </div>
        </div>
      </form>
      {% endfor %}
    </div>
    <br>
    <!-- End page content -->
  </div>

  <script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");
    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
      } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
      }
    }

    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
      overlayBg.style.display = "none";
    }
  </script>
  <script src="../static/javascript/jquery.js"></script>
  <script src="../static/javascript/bootstrap.min.js"></script>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({

      }, 'google_translate_element');
    }

  </script>
  <script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>

</html>