<!DOCTYPE html>




<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/training.css">
 <link rel="stylesheet" href="css/bootstrap.min.css" />
<head>

 <script type="text/javascript" src="js/graph.js"></script>
 <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Eports Website</title>
</head>
<body>
    
<header>
    <div class="container-fluid top-nav">
        <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="google_translate_element"  ></div>
            </div>
            <div class="col-sm-4"><p style="margin-top: 10px;text-align: center;color: white"><i class="fa fa-phone "></i> 1800-200-2244 | <i class="fa fa-envelope "></i>  info@govt.com</p></div>
            <div class="col-sm-4">
                <ul class="login-icon">
                    <li style="border-right: 2px solid white"><a href="" ><span class="fa fa-sign-in">&nbspLogin</span></a></li>
                    <li><a href="" ><span class="fa fa-edit">&nbspRegister</span></a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="container-fluid " id="marquee_div">
        <marquee><p>New job Vacancies are coming please look forword and seetthe bar</p></marquee>
        


    </div>
    <div class="container" >
        <div class="row">
            
            <div class="col-sm-6">
                <img src="images/logo.png" width="55" height="90" align="left" style="margin: 10px">
                <h4 style="margin-top: 15px">National E-sports Portal</h1>
                <p >
                    Ministry of Youth Affairs & Sports<br>
                        Government of India
                </p>
                
            </div>
            <div class="col-sm-6">
                <img src="images/khelo.png" width="200" height="100" align="right">
                <img src="images/digital.png" width="200" height="100" align="right">
            </div>

            
        </div>
    </div>

    <nav>
        <div class="container-fluid main_navbar" id="nav">
            

                <ul class="main-icons">
                        <li class="active"><a href="{{ url_for('logout') }}">Back</a></li>
                      </ul>
            
            
        </div>


    </nav>
</header>
<div style="height: 30px;"></div>
<div class="container">
    <div class="row " id="cricket">
        
         
              <div class="column">
                <div class="card" style="width:240px; height: 400px">
                    <img src="images/ac3.1.jpg" style="width:220px; height: 200px; margin-left: 10px;">
                  <h3><b><center>Jaswant Gulia </b></h3>
                  <p><b>Age: </b>25
                  <br><b>Expierence:</b>   4 years<br>
                  <b>Qualification:</b> Msc(Sports)<br>
                  <b>Sports:</b>     Volleyball</p>
                  <button class="btn btn-primary" style="margin-top: 8px">Send Query</button>
                </div>
              </div>

              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               <div class="column">
                <div class="card" style="width:240px; height: 400px">
                    <img src="images/ac3.2.png" style="width: 220px; height: 180px; margin-left: 10px">
                  <h3><b><center>Manmohan Dewan</center> </b></h3>
                  <p><b>Age:</b> 32<br>
                  <b>Expierence:</b>   2 years<br>
                  <b>Qualification: </b>Sports Mgmt.<br>
                  <b>Sports:</b>     Wrestling</p>
                  <button class="btn btn-primary" >Send Query</button>
                </div>
              </div>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  
              <div class="column">
                <div class="card" style="width:240px; height: 400px">
                    <img src="images/ac3.3.jpg" style="width: 220px; height: 200px; margin-left: 10px">
                  <h3><b> <center>Ratan Singh</center></b></h3>
                  <p><b>Age:</b> 30<br>
                  <b>Expierence:</b>   6 years<br>
                  <b>Qualification: </b>Bsc(PED) <br>
                  <b>Sports:</b>    Runing</p>
                  <button class="btn btn-primary" style="margin-top: 8px">Send Query</button>
                </div>
              </div>
     </div>
</div>

</body>
<script type="text/javascript">
     var nav = document.getElementById('nav');

       window.onscroll = function () {

         if(window.pageYOffset > 100){

          nav.style.position = "fixed";
          nav.style.top = 0;

          }else{
            // nav.style.position = "absolute";
            nav.style.position = 'relative'; //fixed
            nav.style.top = 100;
          }
       }


</script>
</html>